@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__container {
    max-width: 1062px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__inner {
    padding: 27px 0;
  }

  &__menu-list {
    display: flex;
    justify-content: flex-end;
  }

  &__menu-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin-left: 33px;
  }

  &__menu-link {
    color: black;
  }
}

.footer {
  &__inner {
    padding: 51px 0 58px;
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin-right: 35px;
    padding-bottom: 26px;
  }

  &__link:nth-child(4) {
    margin-right: 0;
  }

  &__text {
    line-height: 21px;
    text-align: center;
  }
}

.top {
  &__inner {
    padding-top: 143px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    max-width: 506px;
    padding-bottom: 40px;
  }

  &__text {
    max-width: 497px;
    padding-bottom: 38px;
  }

  &__button {
    padding: 9px 21px 9px 20px;
    background: $red;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
  }

  &__image {
    margin-top: -82px;
  }
}

.posts {
  margin-bottom: 15px;

  &__wrapper {
    padding: 7px 0 32px;
    background: $blue;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
  }

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
  }

  &__link {
    font-size: 16px;
    line-height: 23px;
    color: #00A8CC;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}

.post {
  background: white;

  &__inner {
    padding: 24px 21px 7px 23px;
  }

  &__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 17px;
  }

  &__info {
    padding-bottom: 11px;
  }

  &__date {
    padding-right: 26px;
    margin-right: 26px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      height: 21px;
      width: 1px;
      background: black;
      top: 0;
      right: 0;
      bottom: 0;
    }
  }

  &__text {
    max-width: 368px;
    padding-bottom: 24px;
  }
}

.works {
  margin-bottom: 83px;

  &__title {
    font-weight: 400;
    font-size: 22px;
    line-height: 60px;
    padding-bottom: 22px;
  }

  &__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 18px;
    padding-bottom: 15px;
    margin-bottom: 31px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 858px;
      height: 1px;
      background: #E0E0E0;
    }
  }

  &__item-img {
    width: 100%;
  }

  &__content-link {
    color: inherit;
  }

  &__content-title {
    font-size: 30px;
    line-height: 44px;
  }

  &__content-info {
    padding-bottom: 17px;
  }

  &__date {
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    color: white;
    background: #142850;
    padding: 2px 6px 2px 10px;
    border-radius: 16px;
    margin-right: 26px;
  }

  &__theme {
    color: $grey;
    font-size: 20px;
    line-height: 30px;
  }
}