@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';


.header {
  &__container {
    max-width: 1062px;
    margin: 0 auto;
    padding: 0 15px;
  }

  &__inner {
    padding: 27px 0;
  }

  &__menu-list {
    display: flex;
    justify-content: flex-end;
  }

  &__menu-item {
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
    margin-left: 33px;
  }

  &__menu-link {
    color: black;
  }
}

.footer {
  &__inner {
    padding: 51px 0 58px;
  }

  &__links {
    display: flex;
    justify-content: center;
  }

  &__link {
    margin-right: 35px;
    padding-bottom: 26px;
  }

  &__link:nth-child(4) {
    margin-right: 0;
  }

  &__text {
    line-height: 21px;
    text-align: center;
  }
}

.top {
  &__inner {
    padding-top: 143px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    font-size: 44px;
    line-height: 60px;
    font-weight: 700;
    max-width: 506px;
    padding-bottom: 40px;
  }

  &__text {
    max-width: 497px;
    padding-bottom: 38px;
  }

  &__button {
    padding: 9px 21px 9px 20px;
    background: $red;
    font-size: 20px;
    line-height: 30px;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 2px;
    cursor: pointer;
  }

  &__image {
    margin-top: -82px;
  }
}

